<p>This is the partial for faults.</p>

<p>{{inspection.INSPECTION}} Insp. for Station {{inspection.STATION}}, Platform {{inspection.PLATFORM}}, {{inspection.HEADER[groupix].GROUP[faultix].TITLE}}</p>
<p>groupix {{groupix}}, faultix {{faultix}}</p>
<div class ="span5">
<form ng-submit="setFault()">

<table class="table table-bordered table-condensed" ng-show="inspection.HEADER[groupix].GROUP[faultix].DETAIL.length">
<thead>
<tr>
<th style="width: 30px">Id</th>
<th style="width: 240px">Description</th>
<th style="width: 50px"><i class="icon-ok"></th>
</tr>
</thead>
<tbody>
<tr class="{{getFaultColor(flt.VALUE)}}" ng-repeat="flt in currDetail.DETAIL">
<td>{{flt.SSCODE}}</td>
<td >{{flt.TITLE}}</td>
<td><select ng-model="currDetail.DETAIL[$index].VALUE" style ="width:50px">
<option ng-repeat="obj in checks" value="{{obj.check}}" ng-selected="flt.VALUE == obj.check">{{obj.check}}</option>
</select></td>
</tr>
<tr><td></td>
<td class="form-actions">
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <button type="button" class="btn">Cancel</button>
</td>
</td><td></td></tr>
</tbody>
</table>
</form>
</div>
