<p>{{inspection.INSPECTION}} Insp. for Station {{inspection.STATION}}, Platform {{inspection.PLATFORM}}, {{inspection.HEADER[groupix].GROUP[faultix].TITLE}}</p>
<p>groupix {{groupix}}, faultix {{faultix}}</p>
<div class ="span5 pagination-left row-fluid">
<div class="pre-scrollable">
<table class="table table-bordered table-condensed" ng-show="inspection.HEADER[groupix].GROUP[faultix].DETAIL.length">
<thead>
<tr>
<th style="width: 30px">Id</th>
<th style="width: 240px">Description</th>
<th style="width: 50px"><i class="icon-ok"></th>
</tr>
</thead>
<tbody>
<tr class="{{getFaultColor(flt.VALUE)}}" ng-repeat="flt in inspection.HEADER[groupix].GROUP[faultix].DETAIL">
<td>{{flt.SSCODE}}</td>
<td >{{flt.TITLE}}</td>
<td><select ng-model="flt.VALUE" style ="width:50px">
<option ng-repeat="obj in checks" value="{{obj.check}}" ng-selected="flt.VALUE == obj.check">{{obj.check}}</option>
</select></td>
</tr>
</tbody>
</table>
</div>
<div class="row-fluid span5 spacer" >
    <button type="button" class="btn" ng-click="doTheBack()">Exit</button>
</div>
</div>
