<p>{{inspection.INSPECTION}} Insp. for {{inspection.STATION}}, Platform {{inspection.PLATFORM}}
<br> {{inspection.HEADER[groupix].TITLE}}</br>
</p>
<p>groupix {{groupix}}</p>

<table class="table-striped table-bordered" ng-show="inspection.HEADER[groupix].GROUP.length">
<tr>
<th>Group</th>
<th>{{inspection.HEADER[groupix].TITLE}}</th>
</tr>
<tr ng-repeat="grp in inspection.HEADER[groupix].GROUP">
<td>{{grp.GROUPS}}</td>
<td><a href="#/faults?groupix={{groupix}}&faultix={{$index}}">{{grp.TITLE}}</a></td>
</tr>
<tr><td></td>
<td>
    <button type="button" class="btn" ng-click="doTheBack()">Exit</button>
</td>
</td>
</tr>
</table>

